body {
	background: #d9d9d9;
	font-size: 62.5%;
	font-family: Arial;
}

.wrapper {
	background: #fff;
	margin: 0px auto;
}

.wrapper:after {
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}

.header {
	background: #000;
	padding: 5px;
}

.header p {
	font-size: 1em;
	color: #fff;
	padding: 5px;
	margin: 0px 0px 0px 40px;
	float: left;
}

.header hr {
	margin: 25px;
	opacity: 0.4;
    filter: alpha(opacity=40);
}

.header h1 {
	font-size: 3.2em;
	color: #fff;
	text-align: center;
}

.header h2 {
	font-size: 2.5em;
	color: #fff;
	text-align: center;
}

.nav {
	background: #000;
	border-top: 1px solid #fff;
}

.nav ul li {
	display: inline-block;
	padding: 10px;
}

.nav ul li a {
	text-decoration: none;
	list-style-type: none;
	color: #a6a6a6;
	font-size: 3em;
}

.nav ul li a:hover {
	color: #fff;
}

.main .container {
	width: 100%;
	background: none;
	border: none;
}

.main .container .col {
	width: 45%;
	float: left;
	margin: 20px;
}

.main .container img {
	width: 430px;
}

.introText {
	font-size: 0.8em;
	color: #000;
	padding: 20px;
}

.main .container p {
	font-size: 
}

.main .container a {
	color: #123252;
	text-decoration: none;
	font-size: 1.4em;
}

.main .container a:hover {
	color: #FF6600;
}

.sub-main {
	padding: 0px 20px;
	background-color: #000;
}

.sub-main .col {
	border-top: 1px solid #fff;
}

.row:after {
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}

.sub-main h4 {
	font-size: 1.2em;
	color: #fff; 
}

.sub-main p {
	font-size: 1.2em;
	color: #fff;
}

.sub-main .col a {
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: #a6a6a6;
}

.sub-main .col a:hover {
	color: #fff;
}

.footer {
	width: 100%;
	background-color:  #000;
	border-top: 1px solid #fff;
}

.footer ul {
	font-size: 1em;
	padding: 20px;
	margin: 0px;
}

.footer ul li {
	display: inline-block;
}

.footer ul li a {
	list-style-type: none;
	text-decoration: none;
	color: #a6a6a6;
	font-size: 2.5em;
    margin: 5px;
}

.footer ul li a:hover {
	color: #fff;
}

@media screen and (min-device-width: 481px) {
	.wrapper {
		width: 1000px;
	}    

	.main .container p {
		font-size: 1em;
		color: #000;
	}

	.sub-main .col {
		float: left;
		width: 20%;
		margin: 20px;
	}

	.nav ul {
		display: inline-block;
		font-size: 1em;
	}

	.nav ul li a {
		font-size: 2em;
	}

	.main .container p {
		font-size: 1.2em;
		color: #000;
		margin: 10px;
	}

	.main .container a {
		color: #123252;
		text-decoration: none;
		font-size: 1.5em;
		margin: 10px;
	}

	.footer ul li a {
		list-style-type: none;
		text-decoration: none;
		color: #a6a6a6;
		font-size: 1.3em;
		margin: 20px;
	}

}
}