body {
	background: #d9d9d9;
	font-size: 62.5%;
	font-family: Arial;
}

.headingStyle1 {
	font-size: 2em;
	color: #fff;
	text-align: center;
}

.headingStyle2 {
	color: #fff; 
	font-size: 1em;
}

.introText {
	font-size: 1em;
	color: #fff;
	text-align: center;
}

.mainText {
	font-size: 0.8em;
	padding: 15px;
	text-align: center;
}
.columnText {
	font-size: 0.8em;
	color: #fff;
}

.wrapper {
	background: #fff;
	margin: 0px auto;
	&:after {
		clear: both;
		content: "";
		display: block;
		visibility: hidden;
	}
}

.header {
	background: #000;
	padding: 5px;
	hr {
		margin: 25px;
		opacity: 0.4;
    	filter: alpha(opacity=40);
	}
}

.nav {
	background: #000;
	border-top: 1px solid #fff;
	padding: 5px;
	ul {
		padding-left: 0;
		.navItem {
			display: inline-block;
			a {
				text-decoration: none;
				list-style-type: none;
				color: #a6a6a6;
				font-size: 1.8em;
				padding: 12px;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.main {
	.container {
		width: 100%;
		background: none;
		border: none;
		margin-bottom: 20px;
		img {
			width: 100%;
			margin-top: 10px;
		}
	}
}

.sub-main {
	padding: 0px 20px;
	background-color: #000;
	.col {
		border-top: 1px solid #fff;
		padding-bottom: 15px;
		img {
			width: 100%;
			margin-top: 10px;
		}
		a {
			text-decoration: none;
			font-size: 0.8em;
			color: #a6a6a6;
			&:hover {
				color: #fff;
			}
		}
	}

	.row {
		&:after {
			clear: both;
			content: "";
			display: block;
			visibility: hidden;
		}
	}
}

.footer {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	background-color:  #000;
	border-top: 1px solid #fff;
	ul {
		padding-left: 0;
		.linkItem {
			display: inline-block;
			a {
				list-style-type: none;
				text-decoration: none;
				color: #a6a6a6;
				font-size: 1.8em;
				padding: 12px;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
	
@media screen and (min-device-width: 768px) {

	.headingStyle2 {
		font-size: 2em;
		font-family: sans-serif;
		margin: 5px;
	}

	.main {
		.container {
			p {
				font-size: 1.2em;
				font-family: fantasy;
			}
		}
	}

	.sub-main {
		.col {
			width: 45%;
			float: left;
			margin: 20px;
			padding-bottom: 0px;
			a {
				font-size: 1.8em;
				&:hover {
					color: #fff;
				}
			}
		}
		p {
			font-size: 1.4em;
			font-family: sans-serif;
		}
	}

	.footer {_
		ul {
			padding-left: 25px;
		}
	}
}

@media screen and (min-device-width: 1200px) {
	.wrapper {
		width: 1000px;
	}    

	.main {
		.container {
			p {
				font-size: 1em;
				color: #000;
			}
		}
	}

	.sub-main {
		.col {
			float: left;
			width: 20%;
			margin: 20px;
		 	img {
				width: 192px;
				a {
					font-size: 1.2em;
				}
			}
		}
	}

	.nav {
		.navlist {
			display: inline-block;
			font-size: 1em;
			.navItem {
				a {
					font-size: 2em;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	.main {
		.container {
			.col {
				width: 100%;
	 			img {
					width: 100%;
				}
				p {
					font-size: 1.2em;
					color: #000;
					margin: 10px;
				}
			}
		}
	}

	 .footer {
	 	.linkItem {
	 		a {
				list-style-type: none;
				text-decoration: none;
				color: #a6a6a6;
				font-size: 1.3em;
					&:hover {
						color: #fff;
					}
				}
			}
		}
}
